<div class="container">
  <div class="row">
    <div class="col-lg-4" style="background-color:;">
      <%= render 'list', books: @book, user: current_user %>
    </div>
    <div class="col-lg-8">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Opinion</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p><%= image_tag @book.user.get_profile_image(40,40) %> </p>
            </td>
            <td>
              <p><%= link_to @book.title, book_path(book.id) %></p>
            </td>
            <td>
              <p><%= @book.opinion %></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>